<!--The content below is only a placeholder and can be replaced.-->
<div >
  <h1>
    Agregue las reglas de {{ title }}
  </h1>
  <h2>Ingrese la siguiente información: </h2>  

  <div>
    
    <label>Server:</label>
    <input placeholder="Agregar server" name="text">
    
  </div>
  <div>
    <label>Puerto:</label>
    <input placeholder="Agregar puerto" name="text">
  </div>


  <br>
  
  <button mat-button>Validar</button>
  <button mat-button>Reporte</button>

  <!--<fruta></fruta>-->
  <empleado-tag></empleado-tag>
  
</div>

